* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Links 
******************************************/
a {
    color: inherit;
}

/*Isso fará com que o elemento tenha a cor do seu pai*/
a:hover {
    color: inherit;
}

/* Bckground 
****************************************/
.main-container {
    width: 100%;
    height: 100vh;
    background-image: url("../img-background/bg_1.jpg");

}

/* Header 
****************************************/
header {
    width: 100vw;
    height: 180px;
}

#nefertiti {
    height: 140px;
    margin-left: 50px;
}

/* nav
*************************************** */
nav {
    padding: 25px;
}

li a {
    text-decoration: none;
    margin-right: 40px;
}


.navegacao {
    margin-right: 95px;
}


.nav-principal {
    display: flex;
    /* Ativa Flexbox */
    justify-content: space-between;
    /* Alinha itens ao lado com espaço máximo entre eles */
    align-items: center;
    /* Centraliza verticalmente os itens dentro do contêiner */
}

.links-nav li {
    margin-right: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    margin-right: 55px;
    text-transform: uppercase;
}

#icon-nav {
    height: 45px;
}
/* .botao-nav {
    margin-top: 300px;
} */
#bar-icon:hover {
    height: 50px;
}




.piramide {
    width: 65px;
    margin-bottom: 5px;
}

.linha-piramide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    max-width: 500px;
    height: 2px;
    background: #d9bf77;
    margin: 0 auto;
}

/* titulo
+++++++++++++++++++++++++++++++++++++++ */

.titulo {
    text-align: center;
    margin-top: 15px;
}

.fonte-titulo {
    font-size: 40px;
    color: #000;
    font-weight: normal;
    font-family: "Prata", serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    padding: 10px;
}

.comtario p {
    font-family: var(--font-comun);
    color: rgba(0, 0, 0, 0.4);
    text-transform: initial;
}
/* Botao
**************************** */
.btn-offcanvas:focus {
    outline: none;
    box-shadow: none;
}




/* Responsividade
******************************************* */
@media (max-width:576px) {
    .inicio-titulo {
        margin-top: -25px;
    }
    #nefertiti {
        height: 80px;
        margin-left: -1px;
    }
    #bar-icon {
        height: 45px;
    }
    .navegacao {
        display: none;
    }

    
}

@media (min-width: 576px) {
    #bar-icon {
        display: none;
    }

}

